.sidebar {
    background-color: #fff;
    width: 17%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    filter: drop-shadow(0 3rem 2rem rgba(0, 0, 0, 0.3));
    transition: .4s;
}

.sidebar::before {
    content: "";
    width: 5rem;
    height: 0.1rem;
    display: block;
    background-color: #000;
    position: absolute;
    top: 4rem;
}

.sidebar::after {
    content: "";
    width: 5rem;
    height: 0.1rem;
    display: block;
    background-color: #000;
    position: absolute;
    bottom: 4rem;
}

.sidebar-wrap {
    position: relative;
}

.sidebar header {
    position: relative;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-list-item {
    margin: 2rem 0 0;
    cursor: pointer;
}

.sidebar-login {
    position: absolute;
    bottom: 7rem;
}

.sidebar-hamburger {
    display: none;
}

@media screen and (max-width: 769px){
    .sidebar {
        margin: 0 0 0 -20rem;
        width: 20rem;
        z-index: 10;
    }

    .sidebar.active {
        margin: 0;
    }

    .sidebar-hamburger {
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        display: block;
        top: 4rem;
        left: 4rem;
        z-index: 12;
        transition: .4s;
    }

    .sidebar-hamburger.active {
        left: 24rem;
    }

    .sidebar-hamburger-trigger,
    .sidebar-hamburger-trigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }

    .sidebar-hamburger-trigger {
        position: relative;
        width: 6vw;
        height: 5vw;
        background: none;
        border: none;
        appearance: none;
        cursor: pointer;
    }

    .sidebar-hamburger-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
    }

    .sidebar-hamburger-trigger span:nth-of-type(1) {
        top: 0;
    }

    .sidebar-hamburger-trigger span:nth-of-type(2) {
        top: 2.3vw;
    }

    .sidebar-hamburger-trigger span:nth-of-type(3) {
        bottom: 0;
    }

    .sidebar-hamburger-trigger.active span:nth-of-type(1) {
        transform: translateY(17px) rotate(-45deg);
    }

    .sidebar-hamburger-trigger.active span:nth-of-type(2) {
        opacity: 0;
    }

    .sidebar-hamburger-trigger.active span:nth-of-type(3) {
        transform: translateY(-18px) rotate(45deg);
    }
}

@media screen and (max-width: 576px){
    .sidebar-hamburger {
        padding: 1.3rem;
        top: 2rem;
        left: 2rem;
    }

    .sidebar-hamburger-trigger {
        width: 7vw;
        height: 6vw;
    }

    .sidebar-hamburger-trigger span:nth-of-type(2) {
        top: 2.4vw;
    }

    .sidebar-hamburger-trigger.active span:nth-of-type(1) {
        transform: translateY(8px) rotate(-45deg);
    }

    .sidebar-hamburger-trigger.active span:nth-of-type(3) {
        transform: translateY(-13px) rotate(45deg);
    }
}