.homeWork-card {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.homeWork-card .card {
    width: calc(50% - 2rem);
}

@media screen and (max-width: 576px){
    .homeWork-card .card {
        width: 100%;
    }
}